@import 'node_modules/bootstrap/scss/bootstrap';
@import 'shared';
@import 'mixins';


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    @include fontSmooth();
}

.centered-container {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.scroll-content {
    max-width: 350px;
    max-height: 280px;
    width: 350px;
    height: 280px;
    overflow-y: scroll;
}

.h-77px {
    height: 77px;
}

.fz-id {
    font-size: 2.48em;
}

.fz-title {
    font-size: 12px;
}

.bg-red {
    background-color: $red;
}

.bg-green {
    background-color: $light-green;
}

.text-red {
    color: $red;
}

.text-green {
    color: $light-green;
}

@import 'mq';